extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="img sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Aliquam scelerisque arcu rutrum rutrum commodo. Maecenas imperdiet tortor id nisl ullamcorper convallis. Quisque id porttitor urna. Nulla a turpis non enim commodo tincidunt sit amet quis mauris. Vestibulum fermentum justo quis urna varius fermentum. In hac habitasse platea dictumst. Vestibulum lacinia libero a suscipit convallis. Ut aliquet laoreet lectus, vel elementum erat sodales nec. Mauris vitae sagittis ligula.

                p Sed vel lobortis turpis. Mauris dictum rhoncus mi, ut tincidunt tortor tempor vel. Morbi cursus eu purus vel fermentum. Proin turpis metus, egestas ut sapien eu, tristique hendrerit quam. Nunc sit amet nulla ut orci bibendum auctor et et augue. Integer iaculis, justo sed posuere lobortis, est dui fringilla lectus, efficitur rutrum orci ex sit amet neque. Cras dignissim efficitur nulla vitae condimentum.

                p Aliquam semper ullamcorper purus, in dignissim diam pulvinar et. Sed elementum consequat feugiat. Vivamus enim libero, bibendum at mi nec, condimentum ultricies turpis. Integer non nibh vel elit lobortis aliquet. Suspendisse urna arcu, tempor vitae lobortis nec, fringilla sit amet ex. Nullam tincidunt bibendum magna, vel viverra lacus luctus eu. Curabitur ut placerat nisl. Duis vehicula pharetra tortor in tempus.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed elementum consequat feugiat.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destinos", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos
                    p Sed elementum consequat feugiat.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Sed elementum consequat feugiat.